BMA015_1022/cats.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cat" />
    <xs:complexType name="cat" >
        <xs:sequence>
            <xs:element type = "xs:string" name = "name"/>
            <xs:element type = "xs:integer" name = "age"/>
            <xs:element type = "xs:string" name="breed"/>
        </xs:sequence>
        <xs:attribute type="xs:integer" name="id" use="required"/>
    </xs:complexType>
    <xs:complexType name="cats">
        <xs:sequence>
            <xs:element name="cat"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>